{% extends "trees/base.html" %}
{% block page_header %} <!-- # tag with "content" name -->
    <div class="jumbotron">
        <h1>Track your progression.</h1>
        <p>If you want to know the future, look at the past.</p>
    </div>
        
    {% endblock page_header %}  

{% block content %}
    <div>
        <p>Here will be a list with thumbnails of all trees of all users (which contain main image)</p>
        <a href="{% url 'trees:new_tree' %}">
            Add tree
        </a>
        <ul>
            {% for tree in trees %}
                {% if tree.image %}
                    <li>
                        <a href="{% url 'trees:tree' tree.pk %}">
                        <h4>{{ tree.name }}</h4>
                            <img src="{{ tree.image.url }}" alt="{{ tree.name }}" width="200" zheight="200">
                        </a>
                        <p><a href="{% url 'trees:user_trees' tree.owner.pk %}">{{ tree.owner }}</a></p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}