{% extends "trees/base.html" %}
{% block page_header %}
    <div>
        <h1>New tree form</h1>
    </div>
        
    {% endblock page_header %}  

{% block content %}
    <div>
        <form action="{% url 'trees:new_tree' %}" enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <input type="submit" value="Create tree"> -->
            <button name="submit">Add tree</button>
        </form>

    </div>
{% endblock content %}
