{% extends "trees/base.html" %}
{% block page_header %}
    <div>
        <h1>{{ tree }} </h1>
        {% if tree.owner == request.user %}
            <small>
                <a href="{% url 'trees:edit_tree' tree.pk %}">(Edit tree)</a>
                <a href="{% url 'trees:delete_tree' tree.pk %}">(Delete tree)</a>
            </small>
        {% endif %}
    </div>
    
    {% endblock page_header %}  
    
    {% block content %}
    <div>
        <div>
            <p>name: {{ tree }} </p>
            <p>owner: {{ tree.owner }} </p>
            <p>specie: {{ tree.specie }} 
                {% if tree.specie_latin %}
                <span class="font-italic">({{ tree.specie_latin}})</span> </p>
                {% endif %}
            {% if tree.date_planted %}
            <p>date planted: {{ tree.date_planted }} </p>
            {% endif %}
            {% if tree.description %}
                <p>description: {{ tree.description }} </p>
            {% endif %}
            <hr>
        </div>
        <div>
            <h2>Default photo</h2>
            {% if tree.image %}
            <img src="{{ tree.image.url }}" alt="{{ tree.image.name }}" class="img-fluid">
            {% else %}
            <p>No default photo</p>
            {% endif %}
            <hr>
        </div>
            
        
       
        <h3>Upload new photos!</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Submit</button>
        </form>
        
        <hr>
        <h3>Photos / entries / updates / checkpoints / milestones...:</h3>
        <ul>
            {% for entry in tree_entries %}
                <li>
                    <a href="{% url 'trees:entry' entry.pk %}"> <h4>{{ entry }}</h4> </a>
                    <small>
                        <a href="{% url 'trees:edit_entry' entry.pk %}">(Edit entry)</a>
                        <a href="{% url 'trees:delete_entry' entry.pk %}">(Delete entry)</a>
                        <!-- <a href="{% url 'trees:delete_image_album' entry.album.id %}">(Delete album)</a> -->
                    </small>
                    <br>
                    
                    {% if entry.album.default %}
                        <a href="{% url 'trees:entry' entry.pk %}">
                            <img src="{{ entry.album.default.image.url }}" alt="{{ entry.album.default.image.name }}" width="300" zheight="200">
                        </a>
                    {% endif %}
                        
                        <!-- {% if tree.image %}
                            <img src="{{ tree.image.url }}" alt="{{ tree.name }}" width="200" zheight="200">
                            {% endif %} -->
                            
                    {# <!-- <p>{% url 'trees:entry' album.pk %} </p> --> #}
                    <p class="lead">comment: {{ entry.comment }}</p>
                    <small  class="text-muted">
                        <p>entry id: {{ entry.id }}</p>
                        <p>name: {{ entry.tree }}</p>
                        <p>album: {{ entry.album }}</p>
                        <p>album id: {{ entry.album.id }}</p>
                    </small>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
