{% extends "trees/base.html" %}
{% block page_header %}
    <div>
        <h1>Trees added by  {{ owner_name }} (user id: {{ owner_id }})</h1>
    </div>
        
    {% endblock page_header %}  

{% block content %}
    <div>
        <ul>
            {% for tree in user_trees %}
                <li>
                    <a href="{% url 'trees:tree' tree.pk %}">
                        <h4>{{ tree.name }}</h4>
                        {% if tree.image %}
                            <img src="{{ tree.image.url }}" alt="{{ tree.name }}" width="200" zheight="200">
                        {% endif %}
                    </a>
                    <p><a href="{% url 'trees:user_trees' tree.owner.pk %}">{{ tree.owner }}</a></p>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock content %}
